/config/
!/config/packmenu.cfg
/optionsof.txt
/options.txt
/resourcepacks/
!/resourcepacks/styling.zip
!/resourcepacks/FreshAnimations_v1.8.zip
/shaderpacks/
!/shaderpacks/sildursenhanceddefaultv1.14fancy.zip
!/shaderpacks/sildursenhanceddefaultv1.14fancy.zip.txt
/screenshots/
/self/
/.idea/
/git/
/mod_data/
/java/
/mods/configured-2.1.1-1.19.2.jar
!/config/defaultoptions
!/config/oculus.properties
