/config/
/optionsof.txt
/options.txt
/servers.dat
/pas.json
/resourcepacks/
/shaderpacks/
/screenshots/
/self/
/.idea/
/git/
/mod_data/
/java/
/mods/configured-2.1.1-1.19.2.jar
/XaeroWaypoints/
/main.py
/evev.ico
/build.bat
/main.build/